.navBar {
    margin-bottom: 10px;
    box-shadow: none;
    border: none !important;
}

.navBar .active.item {
    font-weight: bold !important;
    background: none !important;
    text-decoration: underline !important;
    text-decoration-color: gray !important;
    text-underline-offset: 0.5em !important;
}

.navBar .item:hover {
    background: none !important;
    text-decoration: underline !important;
    text-decoration-color: gray !important;
    text-underline-offset: 0.5em !important;
}

.landingTopPic {
    padding-top: 5em !important;
}

.landingTop {
    padding-bottom: 3em !important;
}

.landingBottom {
    background: #edffd9;
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.monthlySpendingTable {
    height: 350px;
    overflow-y: auto;
}

.monthlySpendingTable.negVal {
    color: red !important;
}

.signBody {
    background-color: beige !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.sign-button .ui.button {
    background: #46622f !important;
    color: white !important;
    padding-left: 40px;
    padding-right: 40px;
}

.profile-input-disabled .ui input, .edit-budget-input-disabled .disabled.required.field .ui input  {
    background: whitesmoke !important;
}

.profile-input-disabled .ui.form .disabled.fields .field, .ui.form .disabled.field, .ui.form .field :disabled, .edit-budget-input-disabled .ui.form .disabled.fields .field, .ui.form .disabled.field, .ui.form .field :disabled {
    opacity: 1 !important;
}

.profile-input-disabled label, .edit-budget-input-disabled label {
    opacity: 1 !important;
}

.budget-bar:hover {
    background-color: #eaeaea !important;
    cursor: pointer;
}